{
	"presets": [
		"es2015",
		"stage-3",
		"react"
	],
	"plugins": [
		[
			'import', [
				  {
				    "libraryName": "antd",
				    "libraryDirectory": "lib",
				    "style": true
				  },
				  {
				    "libraryName": "antd-mobile",
				    "libraryDirectory": "lib",
				    "style": true
				  },
				]
		]
	]
}
