@import "initAntd.less";
@bgYellow : #FFC300;
@bgBlue : #0099CC;
@bgBlack :#22282D;

#root {
	min-width:1024px;
	margin:0 auto;
}

.bgYellow {
	background:@bgYellow;
}
.bgBlue {
	background-color:@bgBlue;
}
.bgBlack {
	background-color:@bgBlack
}

.mr10 {
	margin-right:10px;
}
.ml10 {
	margin-left:10px;
}
.mt10 {
	margin-top:10px;
}
.mb10 {
	margin-bottom:10px;
}

.pd10 {
	padding:10px;
}
.pdt10 {
	padding-top:10px;
}
.pdb10 {
	padding-bottom:10px;
}
.pdl10 {
	padding-left:10px;
}
.pdr10 {
	padding-right:10px;
}

img.autoImg,autoImg img {
	width:100%;
	vertical-align:top;
}

.topMenu {
	a {
		display:inline-block;
		margin-right:36px;
		line-height:40px;
		img {
			width:26px;
			height:26px;
			vertical-align:middle;
		}
	}
	a.active {
		border-bottom:solid 4px @primary-color;
	}
}

.cHead {
	height:40px;
	line-height:40px;
	padding:0 10px;
	color:#fff;
	box-shadow:0px 3px 6px rgba(0,0,0,0.2) inset;
}
.cHead.bgYellow {
	i.anticon {
		font-size:16px;
		vertical-align:middle;
	}
}
.cHead.bgBlue {
	i.anticon {
		font-size:20px;
		vertical-align:middle;
	}
}
.cHead.bgBlack {
	i.anticon {
		font-size:18px;
		vertical-align:middle;
	}
}

.imgIndex {
	text-align:center;
	position:relative;
	padding-top:30px;
	img {
		width:96%;
	}
}

.mainMenu {
	background-color:#fafafa;
	min-height:800px;
}
#mainMenu {
	.ant-tree-iconEle {
	  position: absolute;
	  left: 0;
	  background: #fff;
	}
	.ant-tree-iconEle::after {
	  font-size: 12px;
	  zoom: 1;
	  display: inline-block;
	  font-family: 'anticon';
	  text-rendering: optimizeLegibility;
	  color: #999;
	  transition: transform .3s ease;
	  margin-top: 2px;
	  background: #fff;
	}
	.ant-tree-iconEle.ant-tree-icon__docu::after {
	  content: "\E664";
	}
	.ant-tree-iconEle.ant-tree-icon__open::after {
	  content: "\E699";
	}
	.ant-tree-iconEle.ant-tree-icon__close::after {
	  content: "\E662";
	}
	.ant-tree-switcher {
	  position: relative;
	  z-index: 1;
	  background: transparent;
	}
	.ant-tree-switcher::after {
	  opacity: 0;
	}
}

.imgList {
	position:relative;
	border-bottom:solid 1px #ddd;
	padding:10px 0;
	.imgMes {
		line-height:28px;
		margin-bottom:10px;
	}
	.btns {
		position:absolute;
		bottom:10px;
		left:0;
		z-index:2;
	}
	.edit {
		margin-right:10px;
	}
}
.imgList:last-child {
	border:none;
}